/* 
.btndsh{
    height: 50px;
    width: 100%;
    background-color: #536dfe;
    color: white;
}

.btndsh:hover{
   background: white;
   border: 2px solid;
   color: black;
   fill: black;
} */

/* .adclient:hover{ */
    /* background-color: white; */
    /* color: white !important; */
    /* fill: black; */
/* } */

/* Styles for screens smaller than 768px */

  
  .loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: contain;
    cursor: progress;
    background-color: #ffffff;
  }
  
  .loader h1 {
    background:url('loading.gif') no-repeat center;
    width: 200px;
    height: 100px;
  }
  
  .loader h2 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    color: #555;
  }

@media only screen and (max-width: 767px) {
    .container {
        width: 100%;
        padding: 0 20px;
    }
 
    .logo {
        font-size: 24px;
    }
 
    .navbar {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }
 
    .navbar li {
        margin: 10px 0;
    }
 
    .btndsh {
        height: 40px;
        font-size: 14px;
    }
 
    .adclient:hover {
        fill: white;
    }
}
 
/* Styles for screens between 768px and 1024px */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        width: 90%;
        max-width: 960px;
        margin: 0 auto;
    }
 
    .logo {
        font-size: 32px;
    }
 
    .navbar li {
        margin: 0 10px;
    }
 
    .btndsh {
        height: 50px;
        font-size: 16px;
    }
}
 
/* Styles for screens larger than 1024px */
@media only screen and (min-width: 1025px) {
    .container {
        width: 90%;
        max-width: 1200px;
        margin: 0 auto;
    }
 
    .navbar {
        margin-left: auto;
    }
 
    .btndsh {
        height: 45px;
        font-size: 18px;
    }
}
 

