.loaderClient {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* change 'top' to 'flex-start' */
    align-items: center;
    height: 100vh;
    background-size: contain;
    cursor: progress;
    background-color: #ffffff;
  }
  .loaderClient h1 {
    background:url('../dsh/loading.gif') no-repeat;
    width: 200px;
    height: 100%; /* change '100px' to '100%' */
  }
  .loaderClient h2 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    color: #555;
  }